.bg {
  position: fixed;
  inset: 0;
  z-index: 10;
  padding: 40px 80px;
  background: var(--transparent-bg-blur);
  backdrop-filter: var(--bg-blur);
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.bg.active {
  opacity: 1;
}

.closeBtn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 8px;
  color: var(--bw-gray-2);
}

.closeBtn svg {
  width: 32px;
  height: 32px;
}

.container {
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  background: var(--yellow-bg);
  overflow-y: auto;
  transform: scale(.5);
  transition: transform .2s ease-in-out;
}

.bg.active .container {
  transform: none;
}