:root {
  --bw-white: #ffffff;
  --bw-black: #1e2022;
  --yellow-bg: #fdfcf3;
  --yellow-primary: #ffe55e;
  --yellow-light-40: #fff5bf;
  --yellow-light-60: #ffef9e;
  --yellow-dark-1: #f5db54;
  --yellow-dark-2: #ebd14a;
  --yellow-dark-3: #d2aa1b;
  --bw-gray-2: #f1f1f1;
  --bw-gray-5: #e9eaea;
  --bw-gray-10: #e0e0e0;
  --bw-gray-20: #cacacb;
  --bw-gray-40: #9fa0a1;
  --bw-gray-60: #747576;
  --bw-gray-80: #494b4c;
  --bg-blur: blur(10px);
  --transparent-bg-blur: rgba(50, 47, 40, 0.7);
  --transparent-gray20-p60: rgba(202, 202, 203, 0.6);
  --transparent-white-p60: rgba(255, 255, 255, 0.6);
  --transparent-white-p90: rgba(255, 255, 255, 0.9);
  --shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  --container-max-width: 1500px;
}
