.calendar {
  position: relative;
}

.input {
  height: 60px;
  width: 100%;
  padding: 10px 18px;
  border: 1px solid var(--bw-white);
  border-radius: 12px;
  font-weight: 300;
  background: var(--bw-white);
  box-shadow: var(--shadow);
  transition: border-color 0.2s ease-in-out;
}

.input:hover {
  border-color: var(--bw-gray-10);
}

.input:hover ~ .icon svg {
  color: var(--bw-gray-60);
}

.input:focus {
  border-color: var(--bw-gray-20);
}

.input:focus ~ .icon svg {
  color: var(--bw-gray-80);
}

.icon {
  position: absolute;
  top: 50%;
  right: 15px;
  padding: 3px;
  background: var(--bw-white);
  transform: translateY(-50%);
  color: var(--bw-gray-40);
  pointer-events: none;
}

.icon svg {
  transition: color 0.2s ease-in-out;
}
